/* Fondo rosita bebé */
body {
  background: #ffeef4;
  font-family: 'Georgia', serif;
  margin: 0;
}

/* Título y barra divisora */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-bottom: 3px solid #f3c6d3; /* barra rosita */
  background-color: #fff;
}

header h1 {
  font-size: 3rem;
  color: #c96a84;
  margin: 0;
}

/* Menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #c96a84;
}

/* Botones */
button {
  background-color: #c96a84;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  backgroun
